.container-pagination {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-block: 15px;
    width: 100%;
}

.container-pagination-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-pagination-body > button:first-child {
    padding-left: 0 !important;
}

.container-pagination-body > button:last-child {
    padding-right: 0 !important;
}

.dots {
    align-items: flex-end;
    line-height: 0;
}
